In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("events_log.csv.gz")

In [3]:
df.head()

,uuid,timestamp,session_id,group,action,checkin,page_id,n_results,result_position
0,00000736167c507e8ec225bd9e71f9e5,2.016030e+13,78245c2c3fba013a,b,searchResultPage,NaN,cbeb66d1bc1f1bc2,5.0,NaN
1,00000c69fe345268935463abbfa5d5b3,2.016031e+13,c559c3be98dca8a4,a,searchResultPage,NaN,eb658e8722aad674,10.0,NaN
2,00003bfdab715ee59077a3670331b787,2.016030e+13,760bf89817ce4b08,a,checkin,30.0,f99a9fc1f7fdd21e,NaN,NaN
3,0000465cd7c35ad2bdeafec953e08c1a,2.016030e+13,fb905603d31b2071,a,checkin,60.0,e5626962a6939a75,NaN,10.0
4,000050cbb4ef5b42b16c4d2cf69e6358,2.016030e+13,c2bf5e5172a892dc,a,checkin,30.0,787dd6a4c371cbf9,NaN,NaN

In [5]:
df.describe()

          timestamp        checkin      n_results  result_position
count  4.001650e+05  223824.000000  136234.000000    230482.000000
mean   2.016030e+13      97.190382      13.210109         2.992798
std    2.340996e+06     104.593714      13.271104        38.557292
min    2.016030e+13      10.000000       0.000000         1.000000
25%    2.016030e+13      20.000000       2.000000         1.000000
50%    2.016030e+13      50.000000      20.000000         1.000000
75%    2.016031e+13     150.000000      20.000000         2.000000
max    2.016031e+13     420.000000     500.000000      4103.000000

In [8]:
df.isnull().sum()

uuid                    0
timestamp               0
session_id              0
group                   0
action                  0
checkin            176341
page_id                 0
n_results          263931
result_position    169683
dtype: int64